In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
# Cargar el CSV en un dataframe
df = pd.read_csv('../data/EloRatings.csv')
df_1 = pd.read_csv('../data/Matches.csv')

/tmp/ipykernel_35856/562527281.py:3: DtypeWarning: Columns (0: MatchTime) have mixed types. Specify dtype option on import or set low_memory=False.
  df_1 = pd.read_csv('../data/Matches.csv')

In [3]:
# Ver las primeras filas del dataframe
df.head()

         date      club country      elo
0  2000-07-01    Aachen     GER  1453.60
1  2000-07-01   Aalborg     DEN  1482.61
2  2000-07-01     Aalst     BEL  1337.53
3  2000-07-01    Aarhus     DEN  1381.46
4  2000-07-01  Aberdeen     SCO  1360.43

In [4]:
df_1.head()

,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,...,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
0,F1,2000-07-28,NaN,Marseille,Troyes,1686.34,1586.57,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F1,2000-07-28,NaN,Paris SG,Strasbourg,1714.89,1642.51,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F2,2000-07-28,NaN,Wasquehal,Nancy,1465.08,1633.80,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F1,2000-07-29,NaN,Auxerre,Sedan,1635.58,1624.22,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F1,2000-07-29,NaN,Bordeaux,Metz,1734.34,1673.11,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_1.head().T

                      0           1           2           3           4
Division             F1          F1          F2          F1          F1
MatchDate    2000-07-28  2000-07-28  2000-07-28  2000-07-29  2000-07-29
MatchTime           NaN         NaN         NaN         NaN         NaN
HomeTeam      Marseille    Paris SG   Wasquehal     Auxerre    Bordeaux
AwayTeam         Troyes  Strasbourg       Nancy       Sedan        Metz
HomeElo         1686.34     1714.89     1465.08     1635.58     1734.34
AwayElo         1586.57     1642.51      1633.8     1624.22     1673.11
Form3Home           0.0         0.0         0.0         0.0         0.0
Form5Home           0.0         0.0         0.0         0.0         0.0
Form3Away           0.0         0.0         0.0         0.0         0.0
Form5Away           0.0         0.0         0.0         0.0         0.0
FTHome              3.0         3.0         0.0         0.0         1.0
FTAway              1.0         1.0         1.0         1.0         1.0
FTResult              H           H           A           A           D
HTHome              2.0         1.0         0.0         0.0         1.0
HTAway              1.0         1.0         1.0         1.0         0.0
HTResult              H           D           A           A           H
HomeShots           NaN         NaN         NaN         NaN         NaN
AwayShots           NaN         NaN         NaN         NaN         NaN
HomeTarget          NaN         NaN         NaN         NaN         NaN
AwayTarget          NaN         NaN         NaN         NaN         NaN
HomeFouls           NaN         NaN         NaN         NaN         NaN
AwayFouls           NaN         NaN         NaN         NaN         NaN
HomeCorners         NaN         NaN         NaN         NaN         NaN
AwayCorners         NaN         NaN         NaN         NaN         NaN
HomeYellow          NaN         NaN         NaN         NaN         NaN
AwayYellow          NaN         NaN         NaN         NaN         NaN
HomeRed             NaN         NaN         NaN         NaN         NaN
AwayRed             NaN         NaN         NaN         NaN         NaN
OddHome            1.65         1.6         NaN         1.7        1.65
OddDraw             3.3         3.4         NaN         3.3         3.3
OddAway             4.3         4.6         NaN         3.9         4.3
MaxHome             NaN         NaN         NaN         NaN         NaN
MaxDraw             NaN         NaN         NaN         NaN         NaN
MaxAway             NaN         NaN         NaN         NaN         NaN
Over25              NaN         NaN         NaN         NaN         NaN
Under25             NaN         NaN         NaN         NaN         NaN
MaxOver25           NaN         NaN         NaN         NaN         NaN
MaxUnder25          NaN         NaN         NaN         NaN         NaN
HandiSize           NaN         NaN         NaN         NaN         NaN
HandiHome           NaN         NaN         NaN         NaN         NaN
HandiAway           NaN         NaN         NaN         NaN         NaN
C_LTH               NaN         NaN         NaN         NaN         NaN
C_LTA               NaN         NaN         NaN         NaN         NaN
C_VHD               NaN         NaN         NaN         NaN         NaN
C_VAD               NaN         NaN         NaN         NaN         NaN
C_HTB               NaN         NaN         NaN         NaN         NaN
C_PHB               NaN         NaN         NaN         NaN         NaN