# 1 Importar librerias y data

In [105]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [106]:
# Cargar el CSV en un dataframe
df = pd.read_csv('../data/EloRatings.csv')
df_1 = pd.read_csv('../data/Matches.csv')

/tmp/ipykernel_3299/562527281.py:3: DtypeWarning: Columns (0: MatchTime) have mixed types. Specify dtype option on import or set low_memory=False.
  df_1 = pd.read_csv('../data/Matches.csv')

In [107]:
# Ver las primeras filas del dataframe
df.head(20)

          date          club country      elo
0   2000-07-01        Aachen     GER  1453.60
1   2000-07-01       Aalborg     DEN  1482.61
2   2000-07-01         Aalst     BEL  1337.53
3   2000-07-01        Aarhus     DEN  1381.46
4   2000-07-01      Aberdeen     SCO  1360.43
5   2000-07-01     Adanaspor     TUR  1380.76
6   2000-07-01           AEK     GRE  1599.31
7   2000-07-01           AIK     SWE  1563.87
8   2000-07-01       Ajaccio     FRA  1470.87
9   2000-07-01          Ajax     NED  1604.75
10  2000-07-01     Akademisk     DEN  1474.57
11  2000-07-01        Alanya     RUS  1440.68
12  2000-07-01        Alaves     ESP  1773.22
13  2000-07-01      Albacete     ESP  1578.79
14  2000-07-01         Altay     TUR  1353.97
15  2000-07-01       Alverca     POR  1396.29
16  2000-07-01        Alzano     ITA  1473.80
17  2000-07-01  Amica Wronki     POL  1442.23
18  2000-07-01        Amiens     FRA  1414.93
19  2000-07-01    Anderlecht     BEL  1632.59

In [108]:
# Verificar que se toman los elos como describe el dataset 
valencia_snapshots = df[df['club'] == 'Valencia']
print(f"Se encontraron {len(valencia_snapshots)} registros del Valencia.")
valencia_snapshots.head()

Se encontraron 599 registros del Valencia.

            date      club country      elo
370   2000-07-01  Valencia     ESP  1904.36
771   2000-07-15  Valencia     ESP  1904.36
1170  2000-08-01  Valencia     ESP  1904.36
1569  2000-08-15  Valencia     ESP  1903.24
1968  2000-09-01  Valencia     ESP  1907.14

In [109]:
# Ver tamaño del primer dataframe
df.shape

(245033, 4)

In [110]:
# Información de las variables
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 245033 entries, 0 to 245032
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   date     245033 non-null  str
 1   club     245033 non-null  str
 2   country  245033 non-null  str
 3   elo      245033 non-null  float64
dtypes: float64(1), str(3)
memory usage: 7.5 MB

In [111]:
df_1.head()

,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,Form5Away,FTHome,FTAway,FTResult,HTHome,HTAway,HTResult,HomeShots,AwayShots,HomeTarget,AwayTarget,HomeFouls,AwayFouls,HomeCorners,AwayCorners,HomeYellow,AwayYellow,HomeRed,AwayRed,OddHome,OddDraw,OddAway,MaxHome,MaxDraw,MaxAway,Over25,Under25,MaxOver25,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
0,F1,2000-07-28,NaN,Marseille,Troyes,1686.34,1586.57,0.0,0.0,0.0,0.0,3.0,1.0,H,2.0,1.0,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.65,3.3,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F1,2000-07-28,NaN,Paris SG,Strasbourg,1714.89,1642.51,0.0,0.0,0.0,0.0,3.0,1.0,H,1.0,1.0,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.60,3.4,4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F2,2000-07-28,NaN,Wasquehal,Nancy,1465.08,1633.80,0.0,0.0,0.0,0.0,0.0,1.0,A,0.0,1.0,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F1,2000-07-29,NaN,Auxerre,Sedan,1635.58,1624.22,0.0,0.0,0.0,0.0,0.0,1.0,A,0.0,1.0,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.70,3.3,3.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F1,2000-07-29,NaN,Bordeaux,Metz,1734.34,1673.11,0.0,0.0,0.0,0.0,1.0,1.0,D,1.0,0.0,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.65,3.3,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
# Tamaño de segundo dataframe
df_1.shape

(230557, 48)

In [113]:
# Información segundo dataframe
df_1.info()

<class 'pandas.DataFrame'>
RangeIndex: 230557 entries, 0 to 230556
Data columns (total 48 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Division     230557 non-null  str
 1   MatchDate    230557 non-null  str
 2   MatchTime    99072 non-null   str
 3   HomeTeam     230557 non-null  str
 4   AwayTeam     230557 non-null  str
 5   HomeElo      141597 non-null  float64
 6   AwayElo      141528 non-null  float64
 7   Form3Home    229057 non-null  float64
 8   Form5Home    229057 non-null  float64
 9   Form3Away    229057 non-null  float64
 10  Form5Away    229057 non-null  float64
 11  FTHome       230554 non-null  float64
 12  FTAway       230554 non-null  float64
 13  FTResult     230554 non-null  str
 14  HTHome       175977 non-null  float64
 15  HTAway       175977 non-null  float64
 16  HTResult     175977 non-null  str
 17  HomeShots    114735 non-null  float64
 18  AwayShots    114738 non-null  float64
 19  HomeTarget   113929 non-null  float64
 20  AwayTarget   113932 non-null  float64
 21  HomeFouls    113973 non-null  float64
 22  AwayFouls    113973 non-null  float64
 23  HomeCorners  114363 non-null  float64
 24  AwayCorners  114363 non-null  float64
 25  HomeYellow   119298 non-null  float64
 26  AwayYellow   119299 non-null  float64
 27  HomeRed      119299 non-null  float64
 28  AwayRed      119297 non-null  float64
 29  OddHome      227527 non-null  float64
 30  OddDraw      227527 non-null  float64
 31  OddAway      227527 non-null  float64
 32  MaxHome      202922 non-null  float64
 33  MaxDraw      202922 non-null  float64
 34  MaxAway      202922 non-null  float64
 35  Over25       148398 non-null  float64
 36  Under25      148397 non-null  float64
 37  MaxOver25    148398 non-null  float64
 38  MaxUnder25   148397 non-null  float64
 39  HandiSize    156733 non-null  float64
 40  HandiHome    156475 non-null  float64
 41  HandiAway    156451 non-null  float64
 42  C_LTH        112602 non-null  float64
 43  C_LTA        112602 non-null  float64
 44  C_VHD        112602 non-null  float64
 45  C_VAD        112602 non-null  float64
 46  C_HTB        112602 non-null  float64
 47  C_PHB        112602 non-null  float64
dtypes: float64(41), str(7)
memory usage: 84.4 MB

# 2 Cribado manual del dataframe

## 2.1 Valores únicos

In [114]:
# Visualizar si hay columnas con un valor unico multiplicado
unicos = df.nunique()
df[unicos[unicos==1].index]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[245033 rows x 0 columns]

In [115]:
# Visualizar si hay columnas con un valor unico multiplicado
unicos_1 = df_1.nunique()
df_1[unicos[unicos==1].index]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[230557 rows x 0 columns]

## 2.2 Valores NaN

In [116]:
df.isna().sum()

date       0
club       0
country    0
elo        0
dtype: int64

In [117]:
df_1.isna().sum()

Division            0
MatchDate           0
MatchTime      131485
HomeTeam            0
AwayTeam            0
HomeElo         88960
AwayElo         89029
Form3Home        1500
Form5Home        1500
Form3Away        1500
Form5Away        1500
FTHome              3
FTAway              3
FTResult            3
HTHome          54580
HTAway          54580
HTResult        54580
HomeShots      115822
AwayShots      115819
HomeTarget     116628
AwayTarget     116625
HomeFouls      116584
AwayFouls      116584
HomeCorners    116194
AwayCorners    116194
HomeYellow     111259
AwayYellow     111258
HomeRed        111258
AwayRed        111260
OddHome          3030
OddDraw          3030
OddAway          3030
MaxHome         27635
MaxDraw         27635
MaxAway         27635
Over25          82159
Under25         82160
MaxOver25       82159
MaxUnder25      82160
HandiSize       73824
HandiHome       74082
HandiAway       74106
C_LTH          117955
C_LTA          117955
C_VHD          117955
C_VAD          117955
C_HTB          117955
C_PHB          117955
dtype: int64

## 2.3 Filas duplicadas

In [118]:
df.duplicated().sum()

np.int64(0)

In [119]:
df_1.duplicated().sum()

np.int64(0)

## 2.4 Columnas duplicadas

In [120]:
df.T.duplicated().sum()

np.int64(0)

In [121]:
df_1.T.duplicated().sum()

np.int64(0)

## 2.5 Data leakeage  
Nuestro modelo se centrará en predecir resultados de partidos, por lo que los datos que ocurren durante el partido deberán eliminarse, de esta forma evitamos la fuga de datos.

In [122]:
# Lista maestra de variables a eliminar (Estadísticas In-Game / Post-Partido)
cols_to_drop = [
    # Marcadores y Goles
    'FTHome', 'FTAway', 'HTHome', 'HTAway', 'HTResult', 'TotalGoals',
    
    # Estadísticas de Juego (Live)
    'HomeShots', 'AwayShots', 'HomeTarget', 'AwayTarget', 'HomeFouls', 'AwayFouls',
    'HomeCorners', 'AwayCorners', 'HomeYellow', 'AwayYellow', 'HomeRed', 'AwayRed',
    
    # Diferenciales y Totales del partido actual
    'CornersDifference', 'CornersTotal', 'ShotsDifference', 'ShotsTotal',
    
    # Clusters y Dominio del encuentro
    'C_LTH', 'C_LTA', 'C_VHD', 'C_VAD', 'C_HTB', 'C_PHB', 'GameDominanceIndex',
    
    # Índices de eficiencia y tarjetas del partido actual
    'CardPointsHome', 'CardPointsAway', 'CardPointsDiff',
    'ShotAccuracyHome', 'ShotAccuracyAway', 'ShotAccuracyDiff',
    'ScoringEfficiencyHome', 'ScoringEfficiencyAway',
    'DefensiveRatingHome', 'DefensiveRatingAway',
    'CleanSheetProbHome', 'CleanSheetProbAway',
    'ExpectedGoalsHome', 'ExpectedGoalsAway'
]

# Usamos errors='ignore' para que no de error si alguna columna ya fue borrada
df_1 = df_1.drop(columns=cols_to_drop, errors='ignore')

print(f"✅ Limpieza finalizada. Columnas restantes: {len(df_1.columns)}")

✅ Limpieza finalizada. Columnas restantes: 25

In [123]:
df_1.head()

,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,Form5Away,FTResult,OddHome,OddDraw,OddAway,MaxHome,MaxDraw,MaxAway,Over25,Under25,MaxOver25,MaxUnder25,HandiSize,HandiHome,HandiAway
0,F1,2000-07-28,NaN,Marseille,Troyes,1686.34,1586.57,0.0,0.0,0.0,0.0,H,1.65,3.3,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F1,2000-07-28,NaN,Paris SG,Strasbourg,1714.89,1642.51,0.0,0.0,0.0,0.0,H,1.60,3.4,4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F2,2000-07-28,NaN,Wasquehal,Nancy,1465.08,1633.80,0.0,0.0,0.0,0.0,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F1,2000-07-29,NaN,Auxerre,Sedan,1635.58,1624.22,0.0,0.0,0.0,0.0,A,1.70,3.3,3.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F1,2000-07-29,NaN,Bordeaux,Metz,1734.34,1673.11,0.0,0.0,0.0,0.0,D,1.65,3.3,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN